<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--CurrentCulture 'uk'. Enother culures will get english UI-->
    <add key="CurrentCulture" value="uk"/>
    <!--Name of assembly to load-->
    <add key="AssemblyName" value="TestProject.TaskLibrary"/>
    <!--Name of method from interface IRunnable to run task-->
    <add key="MethodNameToRunTask" value="Run"/>
    
  </appSettings>
</configuration>